# Compiled class file
*.class

# Screenshots Folder
src/main/resources/screenshots
*.jpg


# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


# inteliJ files
*.iml


#Other Files
.idea/
*.iml
target/
.DS_Store
Solarwinds-at.iml
Solarwinds-at.ipr
Solarwinds-at.iws
Solarwinds-at.iws___jb_tmp___





